<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Properties>
		<Property name="log-path">/servicios/jboss-mc-batch0/standalone/log
		</Property>
	</Properties>
	<Appenders>
		<RollingFile name="RollingFile"
			fileName="${log-path}/batch_utilities_log.log"
			filePattern="${log-path}/batch_utilities_log-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout>
				<pattern>%d{dd/MMM/yyyy HH:mm:ss,SSS}- %c{1}: %m%n</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
				<SizeBasedTriggeringPolicy size="20 MB" />
			</Policies>
			<DefaultRolloverStrategy max="4" />
		</RollingFile>
	</Appenders>
	<Loggers>
		<Logger name="root" level="info" additivity="false">
			<appender-ref ref="RollingFile" level="info" />
		</Logger>
		<Root level="info" additivity="false">
			<AppenderRef ref="RollingFile" />
		</Root>
	</Loggers>
</Configuration>